<html>
	<head>
		<title>首页</title>
		<meta charset="UTF-8">
		<script type="text/javascript" src="../../../resources/lib/jquery/jquery-3.3.1.js"></script>
		<link rel="stylesheet" type="text/css" href="../index/css/content.css">
		<link rel="stylesheet" type="text/css" href="../index/css/nav.css">
		<link rel="stylesheet" type="text/css" href="../index/font/iconfont.css">
		<script type="text/javascript" src="../index/js/nav.js"></script>
		<link type="text/css" rel="stylesheet" href="css/scenicquery.css">
		<script type="text/javascript" src="js/scenicquery.js"></script>
		<script type="text/javascript" src="../../../resources/js/util.js"></script>
		<script type="text/javascript" src="../../../resources/js/tool.js"></script>
		<link rel="stylesheet" type="text/css" href="../../../resources/lib/pnotify/pnotify.custom.min.css">
		<script type="text/javascript" src="../../../resources/lib/pnotify/pnotify.custom.min.js"></script>
		<script type="text/javascript" src="../../../resources/lib/pnotify/pnotifyFunc.js"></script>
	</head>
	<body>
		<div class="nav">
			<div class="nav-top">
				<div id="mini"></div>
			</div>
			<ul class="menu">
				
			</ul>
		</div>
		<div class="right">
			<div class="menu">
				<div class="menu-left">
					
				</div>
				<div class="menu-right">
		
				</div>
			</div>
			<div class="scenicquery">
				<h3>当前位置：景点管理——> 景点查询</h3>
				<div class="scenic">
					<p>景点名称：<input type="text" name="name" value="" ></p>
					<p>所属城市：<input type="text" name="city" value=""></p>
					<button type="button" class="query" onclick="query()">查询</button>
					<button type="button" class="reset" onclick="reset()">重置</button>
				</div>
			</div>
		</div>
	</body>
</html>