<html>
	<head>
		<title>首页</title>
		<meta charset="UTF-8">
		<script type="text/javascript" src="../../../resources/lib/jquery/jquery-3.3.1.js"></script>
		<link rel="stylesheet" type="text/css" href="../index/css/content.css">
		<link rel="stylesheet" type="text/css" href="../index/css/nav.css">
		<link rel="stylesheet" type="text/css" href="../index/font/iconfont.css">
		<script type="text/javascript" src="../index/js/nav.js"></script>
		<script type="text/javascript" src="js/userdetails.js"></script>
		<script type="text/javascript" src="../../../resources/js/util.js"></script>
		<link type="text/css" rel="stylesheet" href="css/userdetails.css">

	</head>
	<body>
		<div class="nav">
			<div class="nav-top">
				<div id="mini"></div>
			</div>
			<ul class="menu">
				
			</ul>
		</div>
		<div class="right">
			<div class="menu">
				<div class="menu-left">
					
				</div>
				<div class="menu-right">
		
				</div>
			</div>
			<div class="userdetails">
     			<h2>当前位置：个人中心——> 个人信息</h2>
     			<p class="name">我的名字：<span></span></p>
     			<p class="roleid">角&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;色：<span></span></p>
     			<p class="realname">真实姓名：<span></span></p> 
     			<p class="sex">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：<span></span></p> 
     			<p class="birthday">出生日期：<span></span></p>  			
     			<p class="address">地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：<span></span></p>
     			<p class="telephone">电话号码：<span></span></p>
     			<p class="idcard">身份证号：<span></span></p>
     			<p class="email">电子邮箱：<span></span></p>
        	</div>	
		</div>
	</body>
</html>