<html>
	<head>
		<title>首页</title>
		<meta charset="UTF-8">
		<script type="text/javascript" src="../../../resources/lib/jquery/jquery-3.3.1.js"></script>
		<link rel="stylesheet" type="text/css" href="../index/css/content.css">
		<link rel="stylesheet" type="text/css" href="../index/css/nav.css">
		<link rel="stylesheet" type="text/css" href="../index/font/iconfont.css">
		<script type="text/javascript" src="../index/js/nav.js"></script>
		<script type="text/javascript" src="js/scenicdetails.js"></script>
		<script type="text/javascript" src="../../../resources/js/util.js"></script>
		<link type="text/css" rel="stylesheet" href="css/scenicdetails.css">

	</head>
	<body>
		<div class="nav">
			<div class="nav-top">
				<div id="mini"></div>
			</div>
			<ul class="menu">
				
			</ul>
		</div>
		<div class="right">
			<div class="menu">
				<div class="menu-left">
					
				</div>
				<div class="menu-right">
		
				</div>
			</div>
			<div class="scenicdetails">
     			<div class="scenic-left">
     				<h1>景点查询的结果</h1>
	     			<p class="name">景点名称：<span></span></p>
	     			<p class="address">景点省份：<span></span></p>
	     			<p class="city">所属城市：<span></span></p>
	     			<p class="grade">景点等级：<span></span></p>
	     			<p class="adultTickets">成人门票：<span></span></p> 
	     			<p class="childTickets">儿童门票：<span></span></p> 
	     			<p class="telephone">联系电话：<span></span></p>  			
	     			<p class="recommend">景点推荐：<span></span></p>
	     			<p class="introduce">景点介绍：</p>
	     			<textarea rows="7" cols="50">
					</textarea>
     			</div>
     			<div class="scenic-right">
     				<a href="../scenicquery/scenicquery.html">返回列表</a>
	     			<p>图片展示</p>
	     			<ul class="scenic-images-ul">
							
					</ul>
     			</div>
        	</div>	
		</div>
	</body>
</html>