<html>
	<head>
		<title>首页</title>
		<meta charset="UTF-8">
		<script type="text/javascript" src="../../../resources/lib/jquery/jquery-3.3.1.js"></script>
		<link rel="stylesheet" type="text/css" href="../index/css/content.css">
		<link rel="stylesheet" type="text/css" href="../index/css/nav.css">
		<link rel="stylesheet" type="text/css" href="../index/font/iconfont.css">
		<link type="text/css" rel="stylesheet" href="css/scenicmodify.css">
		<link rel="stylesheet" type="text/css" href="../../../resources/lib/pnotify/pnotify.custom.min.css">
		
		<script type="text/javascript" src="../index/js/nav.js"></script>
		<script type="text/javascript" src="js/scenicmodify.js"></script>
		<script type="text/javascript" src="../../../resources/js/util.js"></script>
		<script type="text/javascript" src="../../../resources/lib/pnotify/pnotify.custom.min.js"></script>
		<script type="text/javascript" src="../../../resources/lib/pnotify/pnotifyFunc.js"></script>
	</head>
	<body>
		<div class="nav">
			<div class="nav-top">
				<div id="mini"></div>
			</div>
			<ul class="menu">
				
			</ul>
		</div>
		<div class="right">
			<div class="menu">
				<div class="menu-left">
					
				</div>
				<div class="menu-right">
		
				</div>
			</div>
			<div class="scenicmodify">
				<h2>景点修改和删除</h2>
				<input type="checkbox" name="allsel" class="select"><span>全选</span>
				<button class="delete" onclick="del()">删 除</button>
     			<div class="scenic">
     				<table class="table">
     					<tr>
     					    <th class="th1">景点名称</th>
     					    <th class="th2">所属城市</th>
     					    <th>修改</th>
     					    <th>选择</th>
     					</tr>
     				</table>
     			</div>
        	</div>	
		</div>
	</body>
</html>