<html>
	<head>
		<title>首页</title>
		<meta charset="UTF-8">
		<script type="text/javascript" src="../../../resources/lib/jquery/jquery-3.3.1.js"></script>
		<link rel="stylesheet" type="text/css" href="../index/css/content.css">
		<link rel="stylesheet" type="text/css" href="../index/css/nav.css">
		<link rel="stylesheet" type="text/css" href="../index/font/iconfont.css">
		<script type="text/javascript" src="../index/js/nav.js"></script>
		<script type="text/javascript" src="js/lineadd.js"></script>
		<script type="text/javascript" src="../../../resources/js/util.js"></script>
		<link type="text/css" rel="stylesheet" href="css/lineadd.css">

	</head>
	<body>
		<div class="nav">
			<div class="nav-top">
				<div id="mini"></div>
			</div>
			<ul class="menu">
				
			</ul>
		</div>
		<div class="right">
			<div class="menu">
				<div class="menu-left">
					
				</div>
				<div class="menu-right">
		
				</div>
			</div>
			<div class="lineadd">
     			<div class="line-left">
     				<h2>线路添加</h2>
	     			<p class="name">线路名称：<input type="text"></p>
	     			<p class="linedays">行程天数：<input type="text"></p>
	     			<p class="depart">出发地点：<input type="text"></p>
	     			<p class="destdepart">到达目的：<input type="text"></p>
	     			<p class="purpose">是否热门：<input type="text"></p>
	     			<p class="adultTickets">成人门票：<input type="text"></p> 
	     			<p class="childTickets">儿童门票：<input type="text"></p> 
	     			<p class="departdate">出发日期：<input type="text"></p>
	     			<p class="telephone">联系电话：<input type="text"></p>  			
	     			<p class="traveltools">往返交通：<input type="text"></p>
	     			<p class="registerednumber">已报名人数：<input type="text"></p>
	     			<div class="remark">
		     			<p>线路描述：</p>
		     			<textarea rows="7" cols="70">
		     			</textarea>
	     			</div>
     			</div>
     			<div class="line-right">
	     			<p>图片展示</p>
	     			<div class="image"></div>
	     			<button type="button">添加</button>
     			</div>
        	</div>	
		</div>
	</body>
</html>