<html>
	<head>
		<title>首页</title>
		<meta charset="UTF-8">
		<script type="text/javascript" src="../../../resources/lib/jquery/jquery-3.3.1.js"></script>
		<link rel="stylesheet" type="text/css" href="../index/css/content.css">
		<link rel="stylesheet" type="text/css" href="../index/css/nav.css">
		<link rel="stylesheet" type="text/css" href="../index/font/iconfont.css">
		<script type="text/javascript" src="../index/js/nav.js"></script>
		<script type="text/javascript" src="js/pwdmodify.js"></script>
		<script type="text/javascript" src="../../../resources/js/util.js"></script>
		<link type="text/css" rel="stylesheet" href="css/pwdmodify.css">
		<link rel="stylesheet" type="text/css" href="../../../resources/lib/pnotify/pnotify.custom.min.css">
		<script type="text/javascript" src="../../../resources/lib/pnotify/pnotify.custom.min.js"></script>
		<script type="text/javascript" src="../../../resources/lib/pnotify/pnotifyFunc.js"></script>

	</head>
	<body>
		<div class="nav">
			<div class="nav-top">
				<div id="mini"></div>
			</div>
			<ul class="menu">
				
			</ul>
		</div>
		<div class="right">
			<div class="menu">
				<div class="menu-left">
					
				</div>
				<div class="menu-right">
		
				</div>
			</div>
			<div class="modify">
     			<div class="pwdmodify">
     				<h2>修改密码</h2>
					<p>用&nbsp; 户&nbsp;名：<span></span></p>
					<p>原始密码：<input type="password" name="password" value="" ></p>
					<p>新&nbsp; 密&nbsp;码：<input type="password" name="newPassword" value=""></p>
					<p>确认密码：<input type="password" name="confirmPwd" value=""></p>
					<button onclick="passwordUpdate()">修改提交</button>
				</div>
        	</div>	
		</div>
	</body>
</html>